.DS_STORE
.idea/
cwd/
venv/
*.ipynb_checkpoints/
*__pycache__*
results/
/Lindel.egg-info/dependency_links.txt
/Lindel.egg-info/not-zip-safe
/Lindel.egg-info/PKG-INFO
/Lindel.egg-info/requires.txt
/Lindel.egg-info/SOURCES.txt
/Lindel.egg-info/top_level.txt
